.rulesTable {
	font-size: var(--tableFontSize);
	table-layout: fixed;
}

.rulesTable.small {
	--tableFontSize: 70%;
}

.rulesTable.normal {
	--tableFontSize: 85%;
}

.rulesTable td.rulesWithPlugin {
	--tableRuleCellWidth: 14%;
}

.rulesTable td.rulesWithoutPlugin {
	--tableRuleCellWidth: 20%;
}

.rulesTable td:not(:empty) {
	width: var(--tableRuleCellWidth);
}

.rulesTable code {
	word-wrap: normal;
}

.small code {
	font-size: var(--tableFontSize);
}

.rulesTable td,
.rulesTable th {
	padding: 0.25rem;
}

.rulesTable td:first-of-type,
.rulesTable th:first-of-type {
	padding-left: 0;
}

.rulesTable td a:has(code) {
	display: block;
}
