.rulesTable {
	width: 100%;
}

.rulesTable code {
	word-wrap: normal;
}

.rulesTable td,
.rulesTable th {
	padding: 0.25rem;
	vertical-align: middle;
}

.rulesTable td:first-of-type,
.rulesTable th:first-of-type {
	padding-left: 0;
	max-width: 50vw;
	width: 100%;
}
.rulesTable code a {
	font-size: var(--sl-text-code);
	font-weight: bold;
}

.rulesTable small {
	display: block;
	font-size: var(--sl-text-xs);
	font-style: italic;
}

.linkCell {
	font-size: var(--sl-text-sm);
	min-width: 10vw;
}
