.rulesTable {
	width: 100%;
}

.rulesTable code {
	word-wrap: normal;
}

.rulesTable td,
.rulesTable th {
	padding: 0.25rem;
	vertical-align: middle;
}

.rulesTable .ruleNameCell {
	padding-left: 0;
	max-width: 50vw;
}

.rulesTable .implementingCell {
	width: 100%;
}

.rulesTable code a {
	font-size: var(--sl-text-code);
	font-weight: bold;
}

.rulesTable small {
	display: block;
	font-size: var(--sl-text-xs);
	font-style: italic;
}

.linkCell {
	font-size: var(--sl-text-sm);
	min-width: clamp(3.5rem, 7.5vw, 7.5rem);
}

.noneCell {
	font-size: var(--sl-text-sm);
	font-style: italic;
}

.notesCell {
	width: 85%;
}
